.ticket__comments-list
  ul.comments-list
    li
      .comment-card
        .comment-card__header
          a.comment-card__avatar.avatar(href="#")
            img(src="/img/avatar02.jpg" srcset="/img/avatar02@2x.jpg 2x" alt="Аватар пользователя")
          p.comment-card__author Георгий Шпиц
        .comment-card__content
          p Что это за рухлядь? Стыдно такое даже фотографировать, не то, что продавать.
    li
      .comment-card
        .comment-card__header
          a.comment-card__avatar.avatar(href="#")
            img(src="/img/avatar03.jpg" srcset="/img/avatar03@2x.jpg 2x" alt="Аватар пользователя")
          p.comment-card__author Александр Бурый
        .comment-card__content
          p
            | А можете доставить мне домой? Готов доплатить 300 сверху.
            br
            | Живу в центре прямо рядом с Моховой улицей. Готов купить прямо сейчас. Мой телефон 9032594748
