doctype html
html.html-not-found(lang="ru")
  include ../partials/head.pug
  body.body-not-found
    include ../partials/header.pug
    main.page-content
      block content
    include ../partials/footer.pug
    script(src="js/vendor.js")
    script(src="js/main.js")
