//- script(src="js/vendor.js")
//- script(src="js/main.js")

//- html.html-not-found(lang="ru")
//- body.body-not-found

doctype html
html(lang="ru")
  include ../partials/head
  body
    block header
    block content
    block footer
    block scripts
