extends ../layouts/main-layout.pug

block content
  section.comments
    .comments__wrapper
      h1.visually-hidden Страница комментариев
      include ../partials/comments-block.pug
      include ../partials/comments-block.pug
